@import 'abstract/colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,600&display=swap');

.isBodyDark {
    background-color: $bgBodyDark;
    color: $fontBodyDark;
}

.isBodyLight {
    background-color: $bgBodyLight;
    color: $fontBodyLight;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.no-transition {
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}