@import 'abstract/colors';
@import 'abstract/restTheme';

.navbar {
    -webkit-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    height: 4rem;
    display: flex;
    align-items: center;
    .menu {
        width: 100%;
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 1.5rem;
        li {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}
