@use './App';
@use './abstract/colors';
.weather {
    @include App.card(40vw);
    .card-header {
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        h1 {
            font-size: 1.3rem;
            font-weight: 600;
            #falc {
                font-weight: 100;
            }
        }
        h2 {
            font-size: 1.5rem;
            font-weight: 100;
        }
    }
    .card-body {
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .temp {
            flex-grow: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            gap: 1.5rem;
            flex-wrap: wrap;
            img {
                width: 6rem;
            }
            p {
                font-size: 3rem;
                height: 100%;
                padding: 2rem 0 0 0;
                &:after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    transform: rotate(45deg);
                    height: 5rem;
                    background: #fff;
                }
            }
        }
        .optTemp {
            min-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .info {
            display: flex;
            box-shadow: 0px 0px 1em rgba(2, 6, 23, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.3);
            gap: .5rem;
            padding: .5rem 1rem;
            border-radius: .5rem;
            line-height: 1;
            & > svg {
               align-self: flex-end;
            }
            p {
                padding: 0 0 0 0.3rem;
                font-size: 1.1rem;
                align-self: center;
            }
        }
    }
    color: white !important;
    @media (max-width: 1025px) {
        min-width: 70vw;
        height: 30rem;
    }
    @media (max-width: 450px) {
        .card-header {
            padding-top: 2rem;
            justify-content: center;
        }
        .temp {
            gap: 0 !important;
            p {
                height: inherit !important;
            }
        }
    }
}